language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
before_install:
  - "npm -g install phantomjs"

install:
  - "pip install ."
  - "pip install -r requirements.txt"
# command to run tests
script: nosetests